<div class="sidebar">
    <div class="logo_content">
        <div class="logo">
            <i class='bx bxl-product-hunt' ></i>
            <div class="logo_name">atent Saga </div>
        </div>
        <i class="bx bx-menu" id="btn"></i>
    </div>
    <ul class="nav_list">
        <li>
            <a routerLink="/home">
                <i class="bx bx-grid-alt"></i>
                <span class="lists_name">
                    Home
                </span>
            </a>
        </li>
        <li>
            <a>
                <i class='bx bxs-news'></i>
                <span class="lists_name">
                    Latest Patents
                </span>
            </a>
        </li>
        <li>
            <a>
                <i class='bx bx-group'></i>
                <span class="lists_name">
                    About Us
                </span> 
            </a>
        </li>
    </ul>
    <div class="profile_content">
        <div class="profile">
            <div class="profile_details">
                <!-- <img src="https://media-exp1.licdn.com/dms/image/C4D03AQGR3mZtQLbvfg/profile-displayphoto-shrink_800_800/0/1652813937218?e=1666224000&v=beta&t=bNAOeXuEu6C-mypV4nAOZTXdmt3NOABWxu7aVD-yoIM"> -->
            <div class="name_job">
                <div class="name">
                    Alex
                </div>
                <div class="job">
                    Web Designer
                </div>
            </div>
            <i class="bx bx-log-out" id="log_out"></i>
            </div>
        </div>
    </div>
</div>