.main-div mat-card{
    padding: 0px;
}

.login-form{
    padding: 20px;
}

.aLink{
    text-align: center;
    padding-top: 10px;
    text-decoration: double;
}

 .mat-form-field + .mat-form-field {
    margin-left: 8px;
  }
  
