<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxFlex="30">
      <mat-toolbar color="accent" >Login Page</mat-toolbar>
        <form fxLayout="column" fxLayoutAlign="stretch" class="login-form">
         
            <mat-form-field appearance="fill">
              <mat-label>Enter your email</mat-label>
              <input matInput placeholder="pat@example.com" [formControl]="email" required>
              <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Enter password</mat-label>
              <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" required>
              <mat-button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </mat-button>
            </mat-form-field>
          
            <button mat-raised-button type="submit" color="accent">Login</button>

            <span class="aLink">Forgot Password?</span>
        </form>  
    </mat-card>
</div>