<header>
    <ul>
        <li>
            <a routerLink="register">register</a>
        </li>
    </ul>
    <ul>
        <li>
            <a routerLink="login">login</a>
        </li>
    </ul>
</header>
<router-outlet></router-outlet>

<router-outlet></router-outlet>
