<div fxLayoutAlign="center center" fxFlexFill class="main-div" ng-app="">
    <mat-card fxFlex="40">
      <mat-toolbar color="warn" >Registration Page</mat-toolbar>
        <form  fxLayout="column" fxLayoutAlign="stretch" class="login-form">
            <mat-form-field appearance="fill">
                <mat-label>First Name</mat-label>
                <input matInput type="text" ng-model="firstname" placeholder="FirstName" required="required" value="">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Last Name</mat-label>
                <input matInput type="text" ng-model="lastname" placeholder="LastName" required="required">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Enter your email</mat-label>
                <input matInput placeholder="pat@example.com" [formControl]="email" required>
              <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Enter password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" required>
                <mat-button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-button>
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Confirm password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" required>
                <mat-button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </mat-button>
            </mat-form-field>

            <button mat-raised-button type="submit" color="warn">Create Account</button>

        </form>  
    </mat-card>
</div>